<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Folder Contents</title>
    <script>
      function openFile(folder, file) {
        window.location.href = "/folders/" + folder + "/" + file;
      }
    </script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
    />
  </head>
  <body>
    <h1>Folder: {{ folder_name }}</h1>
    <h2>Files:</h2>
    <ul>
      {% for file in files %}
      <li
        class="cursor-pointer"
        onclick="openFile('{{ folder_name }}', '{{ file }}')"
      >
        {{ file }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
